[Unit]
Description=Run volleyball schedule monitor every 30 minutes
[Timer]
OnActiveSec=3min
OnUnitInactiveSec=30min
RandomizedDelaySec=2min
Unit=volleyball-schedule.service
[Install]
WantedBy=timers.target
